
.search-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search-bar input:focus {
    border-color: #007bff;
}