.header {
    background-color: var(--header-bg-color);
    color: white;
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo h1 {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
  }
  
  .header nav ul li {
    margin-left: 20px;
  }
  
  .header nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .header nav ul li a:hover {
    color: var(--primary-color);
  }
  