/* Box Shadow */
@mixin box-shadow($color, $x, $y, $blur, $spread) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
  
  /* Flexbox */
  @mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  /* Gradient Background */
  @mixin gradient-bg($start-color, $end-color) {
    background: linear-gradient(45deg, $start-color, $end-color);
  }
  