<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wissen.bms.pushnotification">

    <!-- Permissions required for Firebase and notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:label="Push Notification"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PushNotification">

        <!-- Firebase Messaging Service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- MainActivity: The entry point of your app -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PushNotification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase configuration and services initialization -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="battery_fault_notifications" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

    </application>

</manifest>
